<%= simple_form_for(@evaluation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :employee, label: 'Operario/a', prompt: 'Escoger operario/a' %>
    <%= label_tag 'Sectores' %>
    <%= select_tag 'zone_id',
    options_from_collection_for_select(Zone.all, 'id', 'name'), class: 'form-control form-group'  %>
    <%= label_tag 'Actividades' %>
    <%= f.grouped_collection_select :task_id, Zone.all, :tasks, 
    :name, :id, :name, { include_blank: 'Escoger actividad' }, 
    { class: 'form-control form-group' } %>
    <%= f.input :result, label: false, collection: %w[Bueno Regular Deficiente], 
    prompt: 'Calificación' %>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.url %>
      <%= label_tag "Quitar imagen" %>
      <%= f.input :remove_image, as: :boolean, label: false %>
    <% end %>
    <%= f.input :comment, label: 'Observaciones' %>
    <%= f.input :date, label: 'Fecha de supervisión', order: [:day, :month, :year],  use_month_numbers: true %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, 'Calificar', class: 'btn btn-success' %>
  </div>
<% end %>
