<%= simple_form_for(@evaluation) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.association :employee, label: 'Operario/a', prompt: 'Escoger operario/a' %>
    <%= label_tag 'Sectores' %>
    <%= select_tag 'zone_id',
    options_from_collection_for_select(Zone.all, 'id', 'name'), class: 'form-control form-group', 
    prompt: 'Escoger sector' %>
    <%= label_tag 'Actividades' %>
    <%= f.grouped_collection_select :task_id, Zone.all, :tasks, 
    :name, :id, :name, { include_blank: 'Escoger actividad' }, 
    { class: 'form-control form-group' } %>
    <%= f.input :result, label: 'Calificación', collection: %w[Bueno Regular Deficiente], 
    prompt: 'Calificación' %>
    <%= image_tag f.object.image if @evaluation.image.attached? %>
    <label class="btn btn-info">
      Imagen
      <span style="display:none;">
        <%= f.input :image, as: :file %>
      </span>
    </label>
    <%= f.input :comment, label: 'Observaciones' %>
    <%# f.input :date, label: 'Fecha de supervisión', 
    order: [:day, :month, :year],  use_month_numbers: true %>
    <%= f.label :date, label: 'Fecha' %>
    <div class="input-group form-group">
      <%= f.text_field :date, class: 'form-control datetimepicker', value: @evaluation.persisted? ? f.object.date.strftime('%d/%m/%Y') : DateTime.now.strftime('%d/%m/%Y')  %>
       <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit, 'Calificar', class: 'btn btn-success' %>
  </div>
<% end %>

