<p>
  <strong>Operario/a:</strong>
  <%= @evaluation.employee.name %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @evaluation.task.name %>
</p>

<p>
  <strong>Calificación:</strong>
  <%= @evaluation.result %>
</p>

<p><%= @evaluation.comment %></p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
