<h1>Sistema de seguimiento ISO</h1>
<%= link_to 'Iniciar sesión', new_user_session_path, class: 'btn btn-lg btn-primary' unless user_signed_in? %>
<% if user_signed_in? %>
    <h1 class="text-center">
        Dashboard
    </h1>
    
    <% if current_user.admin? || current_user.department == 'mantenimiento' %>
    <div class="row">
        <div class="col-lg-6">
            <%= employees_evaluations %>
        </div>
        <div class="col-lg-6">
            <%= evaluations_results_per_month %>
            <div class="row">
                <div class="col-lg-6">
                    <%= label_tag 'Desde' %>
                    <%= date_field_tag :start_at %>
                </div>
                <div class="col-lg-6">
                    <%= label_tag 'Hasta' %>
                    <%= date_field_tag :end_at %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <% if current_user.admin? || current_user.department == 'electricista' %>
        <div class="row">
            <div class="col-lg-12">
                <%= measurements_chart %>
            </div>
        </div>
        <div class="row">
            <% Equipment.all.each do |equipment| %>
                <div class="col-lg-4">
                    <%= measurements_per_equipment_chart(equipment) %>
                    <span style='margin-left: 10em'>
                        <%= link_to mediciones_path(equipment), 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Ver' do  %>
                            <%= fa_icon 'eye 2x' %>
                        <% end %>               
                    </span>
                    
                </div>
            <% end %>
        </div>
    <% end %>
    
    <div class="row">
        <div class="col-lg-9">
            <%= ac_maintenance_goals_chart %>
        </div>
        <div class="col-lg-3">
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary">
                            <input type="checkbox" name="options" id="option">Todos los trabajos
                        </label>
                    </div>
                </div>
                <!--<div class="row">
                    <div class="col-lg-6">
                        <%= label_tag 'Desde' %>
                        <%= date_field_tag :start_at %>
                    </div>
                    <div class="col-lg-6">
                        <%= label_tag 'Hasta' %>
                        <%= date_field_tag :end_at %>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
<% end %>