<h1>Sistema de seguimiento ISO</h1>
<%= link_to 'Iniciar sesión', new_user_session_path, class: 'btn btn-lg btn-primary' unless user_signed_in? %>
<% if user_signed_in? %>
    <h1 class="text-center">
        Dashboard
    </h1>
    
    <% if current_user.admin? || current_user.department == 'mantenimiento' %>
    <div class="row">
        <div class="col-lg-6">
            <%= employees_evaluations %>
        </div>
        <div class="col-lg-6">
            <%= evaluations_results_per_month %>
            <div class="row">
                <div class="col-lg-6">
                    <%= label_tag 'Desde' %>
                    <%= date_field_tag :start_at %>
                </div>
                <div class="col-lg-6">
                    <%= label_tag 'Hasta' %>
                    <%= date_field_tag :end_at %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <% if current_user.admin? || current_user.department == 'electricista' %>
        <%= link_to 'Nueva medición', new_measurement_path, class: 'btn btn-success' %>
        <div class="row">
            <div class="col-lg-12">
                <%= measurements_chart %>
            </div>
        </div>
        <div class="row">
            <% Equipment.all.each do |equipment| %>
                <div class="col-lg-4">
                    <%= measurements_per_equipment_chart(equipment) %>
                    <span style='margin-left: 10em'>
                        <%= link_to mediciones_path(equipment), 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Ver' do  %>
                            <%= fa_icon 'eye 2x' %>
                        <% end %>               
                    </span>
                    
                </div>
            <% end %>
        </div>
        
    <% end %>
    <% if current_user.admin? || current_user.department == 'ac' %>
        <div class="row">
            <div class="col-lg-9">
                <%= ac_maintenance_goals_chart %>
            </div>
            <div class="col-lg-3">
                <br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <label class="btn btn-primary">
                            Todos los trabajos
                            <span style="display: none;">
                                <input type="submit" name="options" id="option">
                            </span>
                        </label>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-8">
                            <%= label_tag 'Escoger cliente' %>
                            <%= select_tag :ac_customer, options_from_collection_for_select(Customer.all, 'id', 'name'), { class: 'form-control form-group' } %>
                        </div>
                        <div class="col-lg-4">
                            <br>
                            <label class="btn btn-info">
                                <i class="fa fa-search"></i> Filtrar
                                <span style="display: none">
                                    <input type="submit" name="customer-button" id="customer-button">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
