<h3>
  <strong>Nombre:</strong>
  <%= @employee.name %>
</h3>

<%= employee_evaluations(@employee) %>

<div id="evaluations">
  <%= render 'employee_evaluations', remote: true %>
</div>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
