
<%= simple_form_for(@answer_type) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  
  <% if accepts_array?(@answer_type) %>
    <table class="table">
      <thead>
        <tr>
          <th>Items a mostrar</th>
        </tr>
      </thead>
      <tbody>
        <%= f.simple_fields_for :collections do |collection| %>
          <% render 'collection_fields', f: collection %>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to_add_association 'Nuevo', f, :collections, class: 'btn btn-info' if accepts_array?(@answer_type) %>
  </div>
<% end %>
