<p>
  <strong>Nombre:</strong>
  <%= @measurement_type.name %>
</p>

<p>
  <strong>Equipo:</strong>
  <%= @measurement_type.equipment.name %>
</p>

<p>
  <strong>Parámetro:</strong>
  <%= @measurement_type.parameter.name %>
</p>

<p>
  <strong>Unidad de medida:</strong>
  <%= @measurement_type.unit %>
</p>

<%= link_to 'Edit', edit_measurement_type_path(@measurement_type) %> |
<%= link_to 'Back', measurement_types_path %>
