
<div class="row">
  <div class="col-lg-6">
    <h1>Planes de trabajo (proyectos)</h1>
  </div>
  <div class="col-lg-6">
    <%= image_tag 'logo.png' %>
  </div>
</div>


<br>

<%= link_to 'Nuevo plan de trabajo', new_work_plan_path, class: 'btn btn-success' %>

<table class="table">
  <thead>
    <tr>
      <th>Tarea</th>
      <th>Estado</th>
      <th>Asignado a</th>
      <th>Fecha de inicio</th>
      <th>Fecha de finalización</th>
      <th>Cantidad en m2</th>
      <th>Costo estimado por m2</th>
      <th>Costo global</th>
      <th>Costo real</th>
      <th>Observaciones</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_plans.each do |work_plan| %>
      <tr>
        <td><%= work_plan.task %></td>
        <td><%= work_plan.status %></td>
        <td><%= work_plan.assigned_to %></td>
        <td><%= work_plan.start_date.strftime '%d/%m/%Y' %></td>
        <td><%= work_plan.end_date.strftime '%d/%m/%Y' %></td>
        <td><%= work_plan.square_meters %></td>
        <td><%= number_to_currency work_plan.cost_estimate_per_square_meter, unit: '$' %></td>
        <td><%= number_to_currency work_plan.global_cost, unit: '$' %></td>
        <td><%= number_to_currency work_plan.real_cost, unit: '$' %></td>
        <td><%= work_plan.comment %></td>
        <td><%= link_to work_plan, 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Ver' do  %>
                <%= fa_icon 'eye 2x' %>
            <% end %>
        </td>
        <td><%= link_to edit_work_plan_path(work_plan), 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Editar' do %>
                <%= fa_icon 'edit 2x' %>
            <% end %>
        </td>
        <td><%= link_to work_plan_path(work_plan), method: :delete, 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Eliminar',
                data: { confirm: 'U sure?' } do %>
                <%= fa_icon 'trash 2x'%>
            <% end %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

