
<%= simple_form_for(@schedule) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if can? :manage, AcMaintenance %>
      <%= f.association :customer, label: 'Cliente', prompt: 'Escoger cliente' %>
    <% end %>
    <%= f.input :month,
        label: 'Mes',
        collection: @months,
        prompt: 'Escoger mes' %>
    <%= f.input :maintenances_quantity, label: 'Cantidad' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
