
<%= simple_form_for(@schedule) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :customer, label: 'Cliente', prompt: 'Escoger cliente' %>
    <%= f.input :month, 
        label: 'Mes',
        collection: %w[Enero Febrero 
        Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre],
        prompt: 'Escoger mes' %>
    <%= f.input :maintenances_quantity, label: 'Cantidad' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
