
<%= simple_form_for(@maintenance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :equipment, label: 'Equipo' %>
    <%= select_tag 'maintenance[equipment_id]',
    options_from_collection_for_select(Equipment.all, 'id', 'name', (@maintenance.equipment.nil? ? nil : @maintenance.equipment.id)), class: 'form-control form-group', 
    prompt: 'Escoger equipo' %>
    <%= f.label :provider, label: 'Proveedor' %>
    <%= f.grouped_collection_select :provider_id, Equipment.all, :providers, 
    :name, :id, :name, { include_blank: 'Escoger proveedor' }, 
    { class: 'form-control form-group' } %>
    <%= f.label :date, label: 'Fecha' %>
    <div class="input-group form-group">
      <%= f.text_field :date, class: 'form-control datetimepicker', value: @maintenance.persisted? ? f.object.date.strftime('%d/%m/%Y') : DateTime.now.strftime('%d/%m/%Y')  %>
       <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <label class="btn btn-info">
      Imagen
      <span style="display:none;">
        <%= f.input :image, as: :file %>
      </span>
    </label>
    <%= f.input :comment, label: 'Observaciones' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar' %>
  </div>
<% end %>
