<h1>Mantenimientos</h1>
<%= link_to 'Nuevo mantenimiento', new_maintenance_path, class: 'btn btn-success' %>
<table class="table">
  <thead>
    <tr>
      <th>Máquina</th>
      <th>Proveedor</th>
      <th>Número de documento</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenances.each do |maintenance| %>
      <tr>
        <td><%= maintenance.equipment %></td>
        <td><%= maintenance.provider %></td>
        <td><%= maintenance.no_document  %></td>
        <td><%= maintenance.date.strftime '%d/%m/%Y' %></td>
        <td><%= link_to maintenance, 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Ver' do  %>
                <%= fa_icon 'eye 2x' %>
            <% end %>
        </td>
        <td><%= link_to edit_maintenance_path(maintenance), 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Editar' do %>
                <%= fa_icon 'edit 2x' %>
            <% end %>
        </td>
        <td><%= link_to maintenance_path(maintenance), method: :delete, 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Eliminar',
                data: { confirm: 'U sure?' } do %>
                <%= fa_icon 'trash 2x'%>
            <% end %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
