
<%= simple_form_for(@measurement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%# f.input :measurement_type_id, collection: @measurement_types, 
    label_method: :name, value_method: :id,
     include_blank: 'Cuestión a medir' %>
    <%= label_tag 'Equipos industriales' %>
    <%= select_tag 'equipment_id',
    options_from_collection_for_select(Equipment.all, 'id', 'name'), class: 'form-control form-group', 
    prompt: 'Escoger equipo' %>
    <%= label_tag 'Mediciones' %>
    <%= f.grouped_collection_select :measurement_type_id, Equipment.all, :measurement_types, 
    :name, :id, :name, { include_blank: 'Escoger actividad' }, 
    { class: 'form-control form-group', required: true } %>
    <%= f.input :value, label: 'Valor' %>
    <%= f.input :comment %>
    <%= f.input :date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
