
<%= simple_form_for(@measurement) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <%# f.input :measurement_type_id, collection: @measurement_types, 
    label_method: :name, value_method: :id,
     include_blank: 'Cuestión a medir' %>
    <% unless @measurement.persisted? %>
      <%= label_tag 'Equipos industriales' %>
      <%= select_tag 'equipment_id',
      options_from_collection_for_select(Equipment.all, 'id', 'name', Measurement.last.measurement_type.equipment.id), 
      class: 'form-control form-group', 
      prompt: 'Escoger equipo' %>
    <% end %>
    <%= label_tag 'Mediciones' %>
    <%= f.grouped_collection_select :measurement_type_id, Equipment.all, :measurement_types, 
    :name, :id, :name, { include_blank: 'Escoger cuestión a medir' }, 
    { class: 'form-control form-group', required: true } %>

    <% if @measurement.persisted? %>
      <% if @measurement.accepts_equal? %>
        <%= f.input :value, label: 'Valor', collection: @measurement.measurement_type.parameter.name.split('/'), include_blank: false %>
      <% else %>        
        <%= f.input :value, label: 'Valor', as: :float, label: 'Valor' %>
      <% end %>
    <% end %>
    
    <%= f.input :comment, label: 'Comentario' %>
    <%= f.label :date, label: 'Fecha' %>
    <div class="input-group form-group">
      <%= f.text_field :date, class: 'form-control datetimepicker', value: @measurement.persisted? ? f.object.date.strftime('%d/%m/%Y') : DateTime.now.strftime('%d/%m/%Y')  %>
       <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>

<%# console %>
