<h1>Mediciones de <%= @equipment.name %></h1>
<%= link_to 'New Measurement', new_measurement_path, class: 'btn btn-success' %>
<%= will_paginate @measurements, renderer: BootstrapPagination::Rails %>
<table class="table">
  <thead>
    <tr>
      
      <th>Measurement type</th>
      <th colspan="2">Value</th>
      
      <th>Comment</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        
        <td><%= measurement.measurement_type.name %></td>
        <td><%= measurement.value %></td>
        <td>
          <% if measurement.is_ok? %>
            <i class="fa fa-thumbs-up fa-2x"></i>
          <% else %>
            <i class="fa fa-thumbs-down fa-2x"></i>
          <% end %>
        </td>
        <td><%= measurement.comment %></td>
        <td>
          <%= measurement.date.strftime("%d/%m/%Y") %>
        </td>
        <td><%= link_to measurement_path(@equipment, measurement) do %>
                <%= fa_icon 'eye 2x' %>
            <% end %>
        </td>
        <!--<td><%= link_to edit_measurement_path(@equipment, measurement) do %>
                <%= fa_icon 'edit 2x' %>
            <% end %>
        </td>-->
        <td><%= link_to measurement_path(@equipment, measurement), method: :delete, 
                data: { confirm: 'U sure?' } do %>
                <%= fa_icon 'trash 2x'%>
            <% end %>    
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
