<h1>Mediciones de <%= @equipment.name %></h1>

<table class="table">
  <thead>
    <tr>
      
      <th>Measurement type</th>
      <th colspan="2">Value</th>
      
      <th>Comment</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @measurements.each do |measurement| %>
      <tr>
        
        <td><%= measurement.measurement_type.name %></td>
        <td><%= measurement.value %></td>
        <td>
          <% if measurement.is_ok? %>
            <i class="fa fa-thumbs-up fa-2x"></i>
          <% else %>
            <i class="fa fa-thumbs-down fa-2x"></i>
          <% end %>
        </td>
        <td><%= measurement.comment %></td>
        <td><%= link_to 'Show', measurement_path(@equipment, measurement) %></td>
        <!--<td><%# link_to 'Edit', edit_measurement_path(@equipment, measurement) %></td>-->
        <td><%= link_to 'Destroy', measurement_path(@equipment, measurement), method: :delete,
            data: { confirm: 'U sure?' } %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Measurement', new_measurement_path %>
