<h1>Medición</h1>
<p>
  <strong>Valor:</strong>
  <%= @measurement.value %>
</p>

<p>
  <strong>Tipo de medición:</strong>
  <%= @measurement.measurement_type.name %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @measurement.comment %>
</p>

<%= link_to 'Editar', edit_measurement_path(@measurement) %>
<%= link_to 'Atrás', mediciones_path(@measurement.measurement_type.equipment) %>
