
<%= simple_form_for(@zone) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <h3>Actividades</h3>
    <%= f.simple_fields_for :tasks do |task| %>
      <%= render 'task_fields', f: task %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-success' %>
    <%= link_to_add_association 'Nueva actividad', f,:tasks, class: 'btn btn-info' %>
  </div>
<% end %>
