<h3>
  <strong>Nombre:</strong>
  <%= @zone.name %>
</h3>

<table class="table">
  <thead>
    <tr>
      <th>
        Actividades correspondientes
      </th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @zone.tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= link_to 'Editar', edit_zone_path(@zone) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Editar', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
