
<%= simple_form_for(@elevator_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @elevator_form.persisted? %>
      <%= f.input :start_at, label: 'Hora inicio' %>
      <%= f.input :end_at, label: 'Hora final' %>
    <% else %>
      <div class="row">
        <div class="col-lg-5">
          <label>Hora inicio</label>
          <div class="input-group clockpicker">
          <input type="text" class="form-control" name="elevator_form[start_at]"  placeholder="Ahora">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
          </span>
          </div>
        </div>
        <div class="col-lg-5">
          <label>Hora fin</label>
          <div class="input-group clockpicker">
          <input type="text" class="form-control" name="elevator_form[end_at]"  placeholder="Ahora">
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
          </span>
          </div>
        </div>

      </div>
    <% end %>
    <div class='input-group date' class='datetimepicker'>
      <input type='text' class="form-control" />
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <%# f.input :date, label: 'Fecha', order: [:day, :month, :year],  use_month_numbers: true %>
    <%= f.input :elevator, collection: %w[Oeste Este], label: 'Elevadores',
      include_blank: 'Escoger elevador' %>
    <%= f.input :maintenance, label: 'En mantenimiento?' %>
    <%= f.input :people_caught, label: 'Personas atrapadas' %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-success' %>
  </div>
<% end %>

<script type="text/javascript">
   $('.datetimepicker').datetimepicker();
</script>