<h1>New <%= @indicator.name %></h1>

<%= simple_form_for [@indicator, @completion] do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
        <%= f.input :date %>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Puntos a evaluar</th>
                <th>Resultados</th>
            </tr>
        </thead>
        <tbody class="form-inputs">
            <% @indicator.parts.each do |part| %>
                <%= f.simple_fields_for :answers do |answer| %>
                    <tr>
                        <td style="width: 50%;"><%= part.name %></td>
                        <td style="width: 50%;">
                            <%= answer.hidden_field :part_id, value: part.id %>
                            <% if accepts_array?(part.answer_type) %>
                                <% unless part.collection == nil %>
                                    <% if part.collection.string_array == 'Actividades' %>
                                         
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>

    <div class="form-actions">
        <%= f.button :submit %>
    </div>
<% end %>

<%= link_to 'Back', indicator_completions_path %>