<p id="notice"><%= notice %></p>

<p>
  <strong>Indicator:</strong>
  <%= @completion.indicator.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @completion.date %>
</p>

<table style="table">
  <thead>
    <tr>
      <td>Evaluación</td>
      <td>Resultado</td>
    </tr>
  </thead>
  <tbody>
    <% parts_with_answers(@completion).each do |part, answer| %>
      <tr>
        <td><%= part %></td>
        <td><%= answer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_indicator_completion_path(@completion) %> |
<%= link_to 'Back', indicator_completions_path %>
