
<%= simple_form_for(@indicator) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <h3>Puntos a evaluar</h3>
    <%= f.simple_fields_for :parts do |part| %>
      <%= render 'part_fields', f: part %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to_add_association 'Agregar punto de evaluación', f, :parts, class: 'btn btn-info' %>
  </div>
<% end %>
