
<%= simple_form_for(@ac_maintenance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :customer, label: 'Cliente', prompt: 'Escoger cliente' %>
    <%# f.input :parts, label: 'Conjunto', collection: @conjunto, include_blank: false, input_html: { multiple: true} %>
    <%= label_tag 'Conjunto' %>    
    <%= select_tag 'ac_maintenance[parts]', options_for_select(@conjunto),  { multiple: true, class: 'form-control form-group' } %>
    <%= f.input :maintenance_type, label: 'Tipo de mantenimiento', collection: %w[Emergencia Programado],  prompt: 'Escoger tipo de mantenimiento' %>
    <%= f.input :task_type,  label: 'Tipo de trabajo', collection: %w[Reparación Remplazo Programación Cambio_Total], prompt: 'Escoger tipo de trabajo' %>
    <%= f.input :comment, label: 'Comentario' %>
    <%= f.input :date,
                label: 'Fecha del mantenimiento', 
                order: [:day, :month, :year],  use_month_numbers: true %>
    <div class="input-group">
      <span class="input-group-addon">Válido para</span>
      <%= f.input :valid_for, label: false %>
      <span class="input-group-addon">unidad(es)</span>
    </div>
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, 'Guardar', class: 'btn btn-success' %>
  </div>
<% end %>
