<h1>Registros de mantenimientos de aires acondicionados</h1>
<div class="row">
  <div class="col-md-10">
    <%= will_paginate @ac_maintenances, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="col-md-2">
    <%= link_to 'Nuevo', new_ac_maintenance_path, class: 'btn btn-success' %>
  </div>
</div>
<table class='table table-striped table-hover table-responsive'>
  <thead>
    <tr>
      <th>Número de serie</th>
      <th>Cliente</th>
      <th>Lugar</th>
      <th>Conjunto</th>
      <th>Tipo de mantenimiento</th>
      <th>Tipo de trabajo</th>
      <th>Comentario</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ac_maintenances.each do |ac_maintenance| %>
      <tr>
        <td><%= ac_maintenance.serial_number %></td>
        <td><%= ac_maintenance.customer.name %></td>
        <td><%= ac_maintenance.customer.location %></td>
        <td>
              <%= ac_maintenance.parts.join ', ' %>
             <!-- <%= truncate ac_maintenance.parts.join(', '), length: 15 %>
              <%= link_to 'Ver más', '', class: "read-more-#{ac_maintenance.id}" %>
              <script>
                  $('.read-more-<%= ac_maintenance.id %>').on('click', function(e) {
                    e.preventDefault()
                    $(this).parent().html('<%= escape_javascript ac_maintenance.parts.join(', ') %>')
                  })
              </script>-->
        </td>
        <td><%= ac_maintenance.maintenance_type %></td>
        <td><%= ac_maintenance.task_type %></td>
        <td><%= ac_maintenance.comment %></td>
        <td><%= ac_maintenance.date.strftime('%d/%m/%Y') %></td>
         <td><%= link_to ac_maintenance, 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Ver' do  %>
                <%= fa_icon 'eye 2x' %>
            <% end %>
        </td>
        <td><%= link_to edit_ac_maintenance_path(ac_maintenance), 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Editar' do %>
                <%= fa_icon 'edit 2x' %>
            <% end %>
        </td>
        <td><%= link_to ac_maintenance_path(ac_maintenance), method: :delete, 'data-toggle': 'tooltip', 'data-placement': 'top', 'title': 'Eliminar',
                data: { confirm: 'U sure?' } do %>
                <%= fa_icon 'trash 2x'%>
            <% end %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


