<p>
  <strong>Número de serie:</strong>
  <%= @ac_maintenance.serial_number %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ac_maintenance.customer %>
</p>

<p>
  <strong>Conjunto:</strong>
  <ul>
    <% @ac_maintenance.parts.each do |part| %>
      <li><%= part %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Tipo de mantenimiento:</strong>
  <%= @ac_maintenance.maintenance_type %>
</p>

<p>
  <strong>Tipo de tarea:</strong>
  <%= @ac_maintenance.task_type %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @ac_maintenance.comment %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @ac_maintenance.date.strftime '%d/%m/%Y' %>
</p>

<p>
  <strong>Válido para:</strong>
  <%= @ac_maintenance.valid_for %>
</p>

<%= link_to 'Edit', edit_ac_maintenance_path(@ac_maintenance) %> |
<%= link_to 'Back', ac_maintenances_path %>
