<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%# <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> %>
      <a class="navbar-brand" href="#">
        <%= link_to root_path do %>
          <%# fa_icon 'book 3x', style: 'margin-top: 5px;' %>
          <%= image_tag('logo.png', size: '45x36', alt: 'Brand', style: 'margin-top: 8px;') %>
        <% end %>
      </a>

    </div>

    <% if user_signed_in? %>
    <!-- Collect the nav links, forms, and other content for toggling -->
      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Limpieza y jardinería <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Supervisión', evaluations_path %></li>
              <li><%= link_to 'Operaria/o', employees_path %></li>
            </ul>
          </li>
        </ul> -->
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Electricidad y agua potable<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Equipos y medidas', equipos_url %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuraciones <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <!--<li class="dropdown-header">Limpieza y jardinería</li>
              <li><%= link_to 'Sectores y tareas', zones_path %></li>
              <li role="separator" class="divider"></li>-->
              <li class="dropdown-header">Eventos de electricidad y agua potable</li>
              <li><%= link_to 'Equipos industriales', equipment_index_path %></li>
              <li><%= link_to 'Parámetros', parameters_path %></li>
              <li><%= link_to 'Tipos de mediciones', measurement_types_path%></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name.nil?  ? current_user.username : current_user.name %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Perfil', edit_user_registration_path %></li>
              <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      
      </div><!-- /.navbar-collapse -->

    <% end %>
  </div><!-- /.container-fluid -->
</nav>