<h1>Parameters</h1>
<%= will_paginate @parameters, renderer: BootstrapPagination::Rails %>
<table class="table">
  <thead>
    <tr>
      <th>Nombre/th>
      <th>Igual</th>
      <th>Valor mínimo</th>
      <th>Valor máximo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parameters.each do |parameter| %>
      <tr>
        <td><%= parameter.name %></td>
        <td><%= parameter.equal %></td>
        <td><%= parameter.min_value %></td>
        <td><%= parameter.max_value %></td>
        <td><%= link_to 'Show', parameter %></td>
        <td><%= link_to 'Edit', edit_parameter_path(parameter) %></td>
        <td><%= link_to 'Destroy', parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parameter', new_parameter_path %>
